/* =Reset default browser CSS. Based on work by Eric Meyer: http://meyerweb.com/eric/tools/css/reset/index.html
-------------------------------------------------------------- */


/* =Scss Variables
-------------------------------------------------------------- */
/* =Global
-------------------------------------------------------------- */
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }



/* =Template
-------------------------------------------------------------- */
#wrapper {
  width: 100%;
  margin: 0 auto; }



.container {
  width: 80%;
  margin: 0 auto;
  padding: 0 30px; }





/* =Header
-------------------------------------------------------------- */
header {
  width: 100%;
  height: 190px;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  background-color: white;
  -webkit-transition: height 0.8s;
  -moz-transition: height 0.8s;
  -ms-transition: height 0.8s;
  -o-transition: height 0.8s;
  transition: height 0.8s; }
  header img#logo {
    display: inline-block;
    height: 150px;
    line-height: 150px;
    -webkit-transition: all 0.8s;
    -moz-transition: all 0.8s;
    -ms-transition: all 0.8s;
    -o-transition: all 0.8s;
    transition: all 0.8s; }

  header.smaller {
    height: 75px; }
    header.smaller img#logo {

      height: 75px;
      line-height: 75px;
      font-size: 30px; }
.divname{
	float: left;
	width:25%;
}
.divinput{
	float: right; width:75%;
}
.bodphoto img{
	width:200px;
	height:200px;
}
.spacer
{
    width: 100%;
	height: 200px;}
.spacer1
{
    width: 100%;
    height: 3px;
}
#left {
    width:50%;
    float:left;
    background:white;
	border-right:1px solid grey;
	border-bottom:0px solid grey;
}

#right {
    width:50%;
    float:right;
    background:white;
	border-left:1px solid grey;
	border-top:0px solid grey;
}
.feedback1{
	margin: 0 auto 15px auto;
	float:;
}
.details{
	margin: 0 auto 0 auto;
	float: ;
}

table{
  table-layout:auto;
  overflow:hidden;
  word-wrap:break-word;
}
td{
	text-align:center;
	vertical-align: top;
	padding: 10px;
}
th{
	 padding: 10px;
	 white-space:nowrap;
	font-size: 125%;
	-webkit-touch-callout: none;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
}
.border th{
  border: 2px solid #000000;
}
.border td{
  border: 2px solid #dddddd;
}
.dontselect{
	-webkit-touch-callout: none;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
}
.left{
	width:50%;
    float:left;
}
.right{
	width:50%;
    float:right;
}
.imagestyle img{
	width:250px;
	height:250px;
}


/* =Footer
-------------------------------------------------------------- */
/* =Extras
-------------------------------------------------------------- */
.clearfix:after {
  visibility: hidden;
  display: block;
  content: "";
  clear: both;
  height: 0; }

/* =Media Queries
-------------------------------------------------------------- */
@media all and (max-width: 1366px) {
  /* =Header
  -------------------------------------------------------------- */
  header {
  height: 135px;}
  header img#logo {
    display: block;
    float: none;
    margin: 0 auto;
    height: 95px;
    line-height: 95px;
    text-align: center; }

  header.smaller {
    height: 60px; }
    header.smaller img#logo {
      height: 60px;
      line-height: 60px;
      font-size: 30px; }

.spacer
{
    width: 100%;
	height: 150px;}
.spacer1
{
    width: 100%;
    height: 3px;
}
.navigation{
	height: 20px;
	margin-top: 105px;

}
.navigation.smaller{
	margin-top: 60px;
}

}
@media all and (max-width: 1000px) {
  /* =Header
  -------------------------------------------------------------- */
  header img#logo {
    display: block;
    float: none;
    margin: 0 auto;
    height: 90px;
    line-height: 90px;
    text-align: center; }

  header.smaller {
    height: 60px; }
    header.smaller img#logo {
      height: 60px;
      line-height: 60px;
      font-size: 30px; }

.spacer
{
    width: 100%;
	height: 140px;}
.spacer1
{
    width: 100%;
    height: 3px;
}
.navigation{
	height: 20px;
	margin-top: 105px;
}
.navigation.smaller{
	margin-top: 60px;
}
}

@media all and (max-width: 850px) {
  /* =Header
  -------------------------------------------------------------- */
  header img#logo {
    display: block;
    float: none;
    margin: 0 auto;
    height: 90px;
    line-height: 100px;
    text-align: center; }



.spacer
{
    width: 100%;
	height: 130px;}
.spacer1
{
    width: 100%;
    height: 3px;
}
.navigation{
	height: 20px;
	margin-top: 95px;

}

}

@media all and (max-width: 750px) {
  /* =Header
  -------------------------------------------------------------- */
  header img#logo {
    display: block;
    float: none;
    margin: 0 auto;
    height: 80px;
    line-height: 100px;
    text-align: center; }

  header.smaller {
    height: 60px; }
    header.smaller img#logo {
      height: 60px;
      line-height: 70px;
      font-size: 30px; }

.spacer
{
    width: 100%;
	height: 120px;}
.spacer1
{
    width: 100%;
    height: 3px;
}
.navigation{
	height: 20px;
	margin-top: 85px;

}
.navigation.smaller{
	margin-top: 60px;
}

.imagestyle img{
	width:200px;
	height:200px;
}
}

@media all and (max-width: 730px) {
  .container {
    width: 100%; }
header{
	height:150px;
}

}

@media all and (max-width: 700px) {
  /* =Header
  -------------------------------------------------------------- */
  header img#logo {
    display: block;
    float: none;
    margin: 0 auto;
    height: 68px;
    line-height: 100px;
    text-align: center; }

  header.smaller {
    height: 50px; }
    header.smaller img#logo {
      height: 50px;
      line-height: 70px;
      font-size: 30px; }

.spacer
{
    width: 100%;
	height: 105px;}
.spacer1
{
    width: 100%;
    height: 3px;
}
.navigation{
	height: 20px;
	margin-top: 70px;

}
.navigation.smaller{
	margin-top: 50px;
}
.divname{
	float: left;
	width:40%;
}
.divinput{
	float: right; width:60%;
}
}

@media all and (max-width: 600px) {
.imagestyle img{
	width:160px;
	height:160px;
}
#left {
    width:100%;
    background:white;
	float:"";
	border-bottom:1px solid grey;
	border-right:0px solid grey;
}

#right {
    width:100%;
    background:white;
	float:"";
	border-top:1px solid grey;
	border-left:0px solid grey;
}
.feedback1{
	margin: 0 auto 15px auto;
	float:;
}
.details{
	margin: 0 auto 0 auto;
	float: ;
}
.left{
	width:100%;
}
.right{
	width:100%;
}
}

@media all and (max-width: 480px) {
  /* =Header
  -------------------------------------------------------------- */
  header img#logo {
    display: block;
    float: none;
    margin: 0 auto;
    height: 60px;
    line-height: 100px;
    text-align: center; }
  header.smaller {
    height: 30px; }
    header.smaller img#logo {
      height: 30px;
      line-height: 70px;
      font-size: 30px; }

	  .spacer
{
    width: 100%;
	height: 97px;}
.spacer1
{
    width: 100%;
    height: 3px;
}
.navigation{
	height: 20px;
	margin-top: 62px;

}
.navigation.smaller{
	margin-top: 30px;
}
.imagestyle img{
	width:140px;
	height:140px;
}
header{
	height:120px;
}
}

@media all and (max-width: 430px) {
  /* =Header
  -------------------------------------------------------------- */
  header img#logo {
    display: block;
    float: none;
    margin: 0 auto;
    height: 55px;
    line-height: 100px;
    text-align: center; }



.spacer
{
    width: 100%;
	height: 91px;}
.spacer1
{
    width: 100%;
    height: 3px;
}
.navigation{
	height: 20px;
	margin-top: 56px;

}

header{
	height:100px;
}

}
